
  

      
    
  
  <article>
    <div
  *ngIf="addedItemsCartList.length > 0; else empty">
    <aside>
      
      <p class="product">Product</p>
    <div>
      <p>Qty</p>
      <p>Price</p>
      <p>total</p>
      </div>
    </aside>




    
    <section  *ngFor="let items of addedItemsCartList ">
      <ul>
      <button
      (click)="deletecartitems(items.product.id)"
      class="btn btn-danger"
    >
      Delete
    </button>
      <img class="card-img-top" [src]="items.product.image" alt="">
      <li class="list-group-item">{{items.product.name}}</li>
      </ul>
    <ul>
      <li class="list-group-item">
      

        {{items.quantity }}
        
      </li>
       <li class="list-group-item">{{items.product.price |currency}}</li> 
      <p class="card-text">
         {{ items.quantity * items.product.price | currency}}

      </p>
    </ul>

   

    </section>
    <h2>Cart total price is: {{ totalNumberOfCart | currency }}</h2>
  </div>

  </article>
 
  <ng-template #empty>
    <h2 class="text-center mt-5">Cart is empty</h2>
  
    <a style="text-decoration: none; color: darkred; font-size: larger; font-weight: 500; font-family: sans-serif;  " class="text-center mt-5 d-block" [routerLink]="['']"
      > Go to Home page</a 
    >
  </ng-template>