







<div class="background-slider" [ngStyle]="{ 'background-image': 'url(' + images[currentIndex] + ')' }">

    <nav [class.sticky]="isSticky">
      <a class="header" routerLink="">
        <p>Step

        </p>
          <h5>Ordering</h5>
    </a>
      <li>
        <a href="">Home</a>
        <span>

          <a  routerLink="/cart">
            
            <!-- <span>{{totalNumberOfCart}}</span> -->
            cart
            <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #e40606;"></i>    
          </a>
        </span>
  </li>
    
    </nav> 
       <h1>This version is incredible. Hope he delivers like this on concerts  
      </h1>  
      
  </div>
  