<ul class="nav nav-pills">
  <!-- <a routerLink="/proudcts-info"></a> -->
  <li *ngFor="let category of categoriesData" class="nav-item"> 
    <button (click)="clickActiveHandler(category.id)" [ngClass]= "{active: category.id === (categories.activeCategoryId | async)}"  class="nav-link"> {{category.name}}</button>
    
    </li>
    
    
  </ul>

  
<section>
  <ul *ngIf="productlist.length > 0"> 
    <div *ngFor="let product of productlist" class="card" style="width: 18rem;">
        <img [src]="product.image" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>

          <a class="btn btn-primary" routerLink="[product.id]"></a>
        </div>
      </div>
  </ul>
</section>

  <!-- <div class="products">
      <button (click)="clickActiveHandler(prod.id)" [ngClass]= "{active: prod.id === (categories.activeCategoryId | async)}"  class="nav-link"> {{prod.name}}</button>
  <div *ngFor="let prod of allProduct" class="card" style="width: 18rem; display: flex;">
    <img [src]="product.image" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{product.price}}</h5> 
          
    </div>
  </div>
  </div> -->