


article{
    display: flex;
    align-items: center;
    justify-content: center;
}
article button{
  

color: brown;
}
section ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr )

}
